* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* global style  */

.button_style {
    font-size: 18px;
    font-weight: 700;
    background-color: #db5456;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: none;
    padding: 13px 50px;
    margin-top: 40px;
    border-radius: 30px;
}


/* header style */

.header_section {
    padding: 80px 120px;
    height: 600px;
}

.left {
    float: left;
    width: 50%;
}

.left h1 {
    font-size: 80px;
}

.left h1 span {
    font-size: 100px;
    color: #db5456;
}

.left p {
    font-size: 22px;
    line-height: 35px;
}

.right {
    float: right;
    width: 50%;
}

.right img {
    border-radius: 50%;
    width: 90%;
}


/* breakfast style  */

.breakfast_section {
    height: 660px;
    padding: 80px 120px;
    background-color: #eee;
}

.card_container {
    float: left;
    width: 30%;
}

.breakfast_card {
    width: 350px;
    background-color: #fff;
    height: 400px;
    padding: 40px;
    margin: 50px 0 0 50px;
    position: absolute;
}

.breakfast_card h2 {
    font-size: 35px;
}

.breakfast_card p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
}

.breakfast_picture {
    float: right;
    width: 70%;
}

.breakfast_picture img {
    width: 100%;
    height: 500px;
}


/* fast food style */

.fast_food_section {
    height: 650px;
    width: 100%;
    background-image: url("fastfood.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
}

.fast_food_content {
    padding: 200px 120px;
}

.fast_food_content p {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.fast_food_content h1 {
    font-size: 70px;
}


/* delivery style */

.delivery_section {
    height: 660px;
    width: 100%;
    padding: 80px 120px;
}

.delivery_picture {
    float: left;
    width: 50%;
    text-align: right;
}

.delivery_picture img {
    width: 90%;
    border-radius: 50%;
}

.delivery_card_container {
    width: 45%;
    height: 500px;
    float: right;
    background-color: #eeeeee;
}

.delivery_card {
    padding: 80px;
}

.delivery_card h2 {
    font-size: 42px;
}

.delivery_card p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
}


/* footer style  */

.footer_section {
    background-color: #000;
    color: #fff;
    height: 660px;
    padding: 80px 120px;
}

.footer_picture {
    float: left;
    width: 40%;
}

.footer_picture img {
    width: 100%;
    height: 500px;
}

.footer_content {
    padding: 80px;
    text-align: center;
    width: 60%;
    float: right;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

form input {
    padding: 20px;
    width: 250px;
    background-color: #000;
    border: none;
    border-bottom: 2px solid #fff;
}

.submit_btn {
    border-radius: 0;
}

.address {
    margin-top: 40px;
}

.address h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px 0;
}

.address ul li {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 5px 0;
    list-style: none;
}